; ----------------------------------------------------------------------------
; .coveragerc
; ----------------------------------------------------------------------------


; ----------------------------------------------------------------------------
; Purpose:
; ----------------------------------------------------------------------------
; - "Merge" real installed package paths actually covered during tests...
; - ...with soucre paths in the repository.
;
; Thanks Hynek: https://hynek.me/articles/testing-packaging/
; ----------------------------------------------------------------------------

[paths]
source =
    src/wires
    .tox/*/lib/python*/site-packages/wires
