language: python


matrix:
  fast_finish: true

  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.6-dev"
      env: TOXENV=py36

  allow_failures:
    - python: "3.6-dev"


install:
  - pip install tox


script:
  - tox
