language: python


matrix:
  fast_finish: true

  include:
    - python: "2.7"
      env: TOXENV=py27-codecov
    - python: "3.6"
      env: TOXENV=py36-codecov
    - python: "3.7"
      dist: xenial
      env: TOXENV=py37-codecov


install:
  - pip install tox


script:
  - tox


notifications:
  email: false
