# Reference:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates

parameters:
  name: ''
  vmImage: ''


jobs:

- job: ${{ parameters.name }}
  pool:
    vmImage: ${{ parameters.vmImage }}
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip && python -m pip install .[tests]
    displayName: 'Install'

  - script: coverage run --branch -m unittest discover
    displayName: 'Run tests'

  - script: python -m pip install codecov && codecov --no-color --required
    displayName: 'Upload coverage results'
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)

